* {
    margin: 0em;
    padding: 0em;

    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 1200px;
    font-family: base;
    line-height: 1.2em;
}

h1 {
    font-family: header;
    text-align: center;
    font-size: 5em;
    line-height: 1em;
}

h2 {
    font-family: header;
    font-weight: lighter;
    text-align: center;
    font-size: 3em;
}

header {
    /* padding: 5em 0em; */
    padding-top: 10em;
    padding-bottom: 5em;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @media(max-width: 900px) {
        flex-direction: column-reverse;
        padding-top: 5em;
        padding-bottom: 0em;
    }

    /* background-size: 100% auto;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url("./images/bush.png"); */

    img.Logo {
        height: 6em;
    }

    img.Title {
        width: 80%;
        min-width: 420px;
    }

    h1 {
        font-family: header;
        display: inline;
        @media(max-width: 900px) {
            width: min-intrinsic;
            width: -webkit-min-content;
            width: -moz-min-content;
            width: min-content;
            display: table-caption;
            display: -ms-grid;
            -ms-grid-columns: min-content;
        }
    }
}

.WhiteArea {
    color: #442B48;
    background-color: #f0EAD6;
}

.GreenBush {
    width: 100%;
    height: 200px;
    background-color: #f0EAD6;
    background-size: auto 100%;
    background-position: center top;
    background-image: url("./images/greenbush.png");
}

.GreenArea {
    overflow: hidden;
    padding: 0em 2em;

    color: #f0EAD6;
    background-color: #0B6E4F;
}

.RedBush {
    width: 100%;
    height: 200px;
    background-color: #0B6E4F;
    background-size: auto 100%;
    background-position: center top;
    background-image: url("./images/redbush.png");
}

.RedArea {
    overflow: hidden;
    padding: 0em 2em;

    color: #f0EAD6;
    background-color: #c1666b;
}

.BlackBush {
    width: 100%;
    height: 200px;
    background-color: #c1666b;
    background-size: auto 100%;
    background-position: center top;
    background-image: url("./images/blackbush.png");
}

.BlackArea {
    overflow: hidden;
    padding: 0em 2em;

    color: #f0EAD6;
    background-color: #442b48;
}

.BlurbSection {
    margin: 4em 0em;
    div {
        width: 100%;
        max-width: 480px;
        margin: auto;

        &:not(:last-of-type) {
            margin-bottom: 1em;
        }
    }
}

.EmailSection {
    margin-bottom: 4em;

    h2 {
        line-height: 1em;
        text-align: center;
    }

    .Box {
        margin: auto;
        width: 100%;
        max-width: 500px;
        margin-top: 1em;

        label {
            display: block;
            white-space: nowrap;
            font-size: 1em;
            margin-bottom: 0.5em;

            .asterisk {
                color: #c1666b;
                font-weight: bold;
            }
        }

        .Inputs {
            display: flex;

            input {
                display: flex;
                justify-content: center;
                font: inherit;
                font-size: 1.2em;
                line-height: 1em;
                width: 100%;
                border: none;

                &[type=email] {
                    padding-left: 1.5em;
                    background-color: #f0EAD6;
                    border-top-left-radius: 1em;
                    border-bottom-left-radius: 1em;
                }

                &[type=submit] {
                    width: 8em;
                    font-size: 1em;

                    cursor: pointer;
                    color: #f0EAD6;
                    background-color: #c1666b;
                    border-top-right-radius: 1em;
                    border-bottom-right-radius: 1em;

                    &:hover {
                        background-color: #ae464c;
                    }
                }
            }
        }
    }
}

.HeaderSection {
    margin: 2em 0em;
    text-align: center;
    font-family: header;
}

.GamesSection {
    margin: 8em 0em;

    .BigGame {
        display: flex;
        overflow: hidden;

        font: inherit;
        color: inherit;
        text-decoration: none;

        margin-bottom: 2em;

        .Summary {
            width: 375px;
            margin-left: 1em;

            .Poster {
                width: 100%;
                margin-bottom: 1em;
            }

            .Description {
                margin-bottom: 1em;
            }

            .CallToAction {
                display: block;
            }
        }

        .Highlights {
            flex: 1;
            overflow-x: hidden;

            .Focus {
                width: 100%;
                padding-bottom: 56.25%;
                position: relative;

                iframe {
                    top: 0em;
                    left: 0em;
                    right: 0em;
                    bottom: 0em;
                    position: absolute;
                }
            }

            .Carousel {
                display: flex;
                flex-basis: fit-content;
                margin-top: 3px;

                overflow-x: scroll;
                /* &::-webkit-scrollbar {
                    display: none;
                } */

                .CarouselItem {
                    &:not(:last-child) {
                        margin-right: 2px;
                    }

                    .Imaged {
                        width: 116px;
                        background-color: blue;
                        padding-bottom: 56.25%;
                    }
                }
            }
        }
        /* max-width: 1200px;
        @media(max-width: 900px) {
            display: block;
        } */

        /* .Poster {
            width: auto;
            height: 20em;
            display: block;
            margin-right: 2em;
            position: relative;
            border-radius: 0.5em;

            @media(max-width: 900px) {
                margin: auto;
                margin-bottom: 2em;
                height: auto !important;
                width: 100% !important;
                max-width: 600px;
            }
        } */
        /* .Description {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media(max-width: 900px) {
                max-width: 600px;
                margin: auto;
            }

            h3 {
                font-weight: bold;
                font-family: header;
                font-size: 2em;
                margin-bottom: 1.5rem;
            }

            p {
                margin-bottom: 1.5rem;
            }

            button {
                border: none;
                font: inherit;
                background: none;
                text-align: left;
                margin-bottom: 1.5rem;

                color: inherit;
                font-size: 1.5em;
                font-weight: bold;
                text-decoration: underline;
                font-family: header;

                &:hover {
                    cursor: pointer;
                    color: #F0C808;
                }
            }
        } */
    }

    .Game {
        display: flex;
        overflow: hidden;

        text-decoration: none;
        font: inherit;
        color: inherit;

        margin-bottom: 2em;
        max-width: 1200px;

        @media(max-width: 900px) {
            display: block;
        }

        .Poster {
            width: auto;
            height: 20em;
            display: block;
            margin-right: 2em;
            position: relative;
            border-radius: 0.5em;

            @media(max-width: 900px) {
                margin: auto;
                margin-bottom: 2em;
                height: auto !important;
                width: 100% !important;
                max-width: 600px;
            }
        }
        .Description {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media(max-width: 900px) {
                max-width: 600px;
                margin: auto;
            }

            h3 {
                font-weight: bold;
                font-family: header;
                font-size: 2em;
                margin-bottom: 1.5rem;
            }

            p {
                margin-bottom: 1.5rem;
            }

            button {
                border: none;
                font: inherit;
                background: none;
                text-align: left;
                margin-bottom: 1.5rem;

                color: inherit;
                font-size: 1.5em;
                font-weight: bold;
                text-decoration: underline;
                font-family: header;

                &:hover {
                    cursor: pointer;
                    color: #F0C808;
                }
            }
        }

        &:hover {
            .Animation {
                opacity: 1;
            }
        }
    }
}

.TeamSection {
    margin: auto;
    max-width: 1200px;
    margin: 4em auto;

    display: flex;

    @media(max-width: 600px) {
        flex-direction: column;
    }

    .Photo {
        flex: 1;
        border-radius: 0.5em;
        background-color: #442B48;

        img {
            width: 100%;
            border-radius: 0.5em;
            transform: rotate(-4deg);
        }
    }

    .Vibes {
        flex: 1;

        padding-left: 2em;
        @media(max-width: 600px) {
            padding-left: 0em;
            padding-top: 2em;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        span {
            max-width: 480px;
            font-size: 1.2em;
            text-align: justify;
            margin-top: 1em;

            @media(max-width: 1200px) {
                font-size: 1em;
                max-width: 320px;
            }
        }
    }
}

.JobsSection {
    margin: 2em;

    h2 {
        margin-bottom: 0.75em;
    }

    .Job {
        margin: auto;
        margin-top: 1em;
        max-width: 640px;
        padding: 1em 1.2em;
        display: block;

        color: inherit;
        text-decoration: none;

        border-radius: 0.5em;
        background-color: rgb(68, 43, 72, 0.5);

        &:hover {
            cursor: pointer;
            background-color: #442B48;
            border-radius: 2px;
        }
        .Name {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 0.2em;
        }
    }

    .EmptyPrompt {
        margin-top: 2em;
        text-align: center;
    }
}

footer {
    height: 8em;

    display: flex;
    align-items: center;
    justify-content: center;
}


@font-face {
    font-family: "base";
    font-weight: normal;
    src: url("./fonts/sumana/Sumana-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "base";
    font-weight: bold;
    src: url("./fonts/sumana/Sumana-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "header";
    font-weight: normal;
    src: url("./fonts/sniglet/Sniglet-Regular.ttf") format("truetype");
}
