* {
    margin: 0em;
    padding: 0em;

    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 1600px;
}

header {
    height: 30em;
    background-color: #f0ead6;

    display: flex;
    align-items: center;
    justify-content: center;

    background-size: 100% auto;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url("./images/bush.png");

    h1 {
        font-size: 4em;
    }
}

.BlurbSection {
    padding: 2em;
    color: #f0ead6;
    background-color: #0B6E4F;

    div {
        width: 100%;
        max-width: 480px;
        margin: auto;

        &:not(:last-of-type) {
            margin-bottom: 1em;
        }
    }
}

.HeaderSection {
    font-size: 1.25em;
    text-align: center;
    color: #f0ead6;
    background-color: #0B6E4F;
}

.GamesSection {
    padding: 2em;
    color: #f0ead6;
    background-color: #0B6E4F;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;

    .Game {
        overflow: hidden;
        border-radius: 1px;

        img {
            width: 100%;
        }

        transition-property: filter;
        transition-duration: 1s;

        &:hover {
            transition-duration: 0.25s;
            filter: brightness(2);
        }
    }
}

.JobsSection {
    padding: 2em;
    background-color: brown;
}

footer {
    height: 3em;
    background-color: #f0ead6;

    display: flex;
    align-items: center;
    justify-content: center;
}
